@inherits LayoutComponentBase

<main class="d-flex flex-column justify-content-center align-items-center stripes-bg">
    @Body
</main>

<audio controls loop="loop" id="audio-tag" >
    <source src="music/Matcha Green Tea.mp3" type="audio/mpeg">
</audio>