@using DoggyLife.Data.Database
@using DoggyLife.Models.Storage
@using Microsoft.EntityFrameworkCore
@inject SqliteWasmHelper.ISqliteWasmDbContextFactory<AppDbContext> Factory

<div class="user-manager">
    <input type="text" @bind="_newUserName" placeholder="Enter your name" style="margin-top: 10px; width: 200px;"/>
    <PixelButton OnClick="UpdateUserName">
        Update Name
    </PixelButton>
</div>

@code {
    [Parameter]
    public User? User { get; set; }
    
    [Parameter]
    public EventCallback<User> OnUserUpdated { get; set; }
    
    private string _newUserName = "Guesto";
    
    protected override void OnParametersSet()
    {
        if (User != null)
        {
            _newUserName = User.Name;
        }
    }
    
    private async Task UpdateUserName()
    {
        await using var db = await Factory.CreateDbContextAsync();

        if (User is null)
        {
            User = new User { Name = _newUserName };
            db.Users.Add(User);
        }
        else
        {
            User.Name = _newUserName;
            db.Users.Update(User);
        }

        await db.SaveChangesAsync();

        var users = await db.Users.ToListAsync();
        Console.WriteLine($"Updated user name to: {User.Name}. Total users in DB: {users.Count}");
        
        await OnUserUpdated.InvokeAsync(User);
    }
}