.room-appearance-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

/* Style for the back to home button */
.back-button {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.room-appearance-page > * {
    margin-bottom: 20px;
    width: 100%;
}
