@page "/"
@using DoggyLife.Physics
@using DoggyLife.Rendering.Isometric
@using SkiaSharp
@using SkiaSharp.Views.Blazor
@using System.Numerics
@inject IJSRuntime JSRuntime

<div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    @if (!_isPlaying)
    {
        <img alt="play button" src="images/play-button.png" class="play-button cursor-pointer" @onclick="@(async () => await PlayGame())" />
    }
    else
    {
        <SKCanvasView Width="@_width" Height="@_height"
            EnableRenderLoop="true"
            IgnorePixelScaling="true"
            OnPaintSurface="OnGamePaint"/>
    }
</div>

@code
{
    private MusicTrack _musicTrack = MusicTrack.None;
    private Scene _environment = Scene.Garden;
    private VerletSystem _verletSystem;


    private bool _isPlaying = false;

    private int _width = 400;
    private int _height = 400;

    private float _deltaTime = 0.016f; // 60 FPS

    private async Task PlayGame()
    {
        if (_isPlaying)
        {
            return;
        }

        SetupVerletSystem();
        await PlayMatchaGreen();

        _isPlaying = true;
    }

    private void SetupVerletSystem()
    {
        _verletSystem = new VerletSystem(_width, _height);
        _verletSystem.CreatePoint(new Vector2(100, 100), 10, 10, SKColors.Red);
        _verletSystem.CreatePoint(new Vector2(100, 50), 10, 10, SKColors.Red);
    }

    private async Task PlayMatchaGreen()
    {
        if (_musicTrack != MusicTrack.None)
        {
            return;
        }

        await JSRuntime.InvokeVoidAsync("changeTrack", "Matcha Green Tea");
        _musicTrack = MusicTrack.MatchaGreenTea;

        StateHasChanged();
    }

    private void OnGamePaint(SKPaintSurfaceEventArgs e)
    {
        var canvas = e.Surface.Canvas;
        canvas.Clear(SKColors.Black);

        // Draw the isometric floor in the middle of the canvas
        IsometricFloorBuilder.DrawIsometricFloor(canvas, _width, _height,
            new SKColor(90,90,120),
            new SKColor(50, 50, 70)
        );

        // Draw walls on both sides
        IsometricWallBuilder.DrawVerticalWall(
            canvas,
            _width,
            _height,
            WallSide.Left,
            new SKColor(70, 70, 100),  // light wall color
            new SKColor(70, 70, 100),  // dark wall color
            new SKColor(30, 30, 50),      // optional outline color
            new SKColor(30, 30, 50)    // optional stripe color
            ); 
        IsometricWallBuilder.DrawVerticalWall(
            canvas,
            _width,
            _height,
            WallSide.Right,
            new SKColor(70, 70, 100),  // light wall color
            new SKColor(70, 70, 100),  // dark wall color
            new SKColor(30, 30, 50),      // optional outline color
            new SKColor(30, 30, 50)    // optional stripe color
            );

        _verletSystem.Update(_deltaTime);
        _verletSystem.Draw(canvas);

        // Draw a line around the canvas (square)
        canvas.DrawRect(new SKRect(0, 0, _width, _height), new SKPaint
            {
                Color = SKColors.White,
                Style = SKPaintStyle.Stroke,
                StrokeWidth = 2
            });
    }
}
