@page "/play"
@using System.Globalization

<div class="d-flex justify-content-center align-items-center position-relative" style="width: 400px; height: 400px; background: url('./images/room.png'); background-size: 100% 100%;">

    <img src="@($"images/{_dog.Image}.png")" alt="dog" class="position-absolute"
         style="@($"z-index: 2; translate: {_dog.X.ToString(CultureInfo.InvariantCulture)}px {_dog.Y.ToString(CultureInfo.InvariantCulture)}px;")" />
    <img src="images/ball.png" alt="ball" class="position-absolute"
         style="@($"z-index: {_ball.Z.ToString(CultureInfo.InvariantCulture)}; translate: {_ball.X.ToString(CultureInfo.InvariantCulture)}px {_ball.Y.ToString(CultureInfo.InvariantCulture)}px; width: 1.5em; height: 1.5em;")" />
    
</div>

@code {

    readonly Dog _dog = new()
    {
        X = 0, Y = 0
    };

    Ball _ball = new();
    
    public Play()
    {
        MakeDogGrabBall();
    }
    
    private void MakeDogGrabBall()
    {
        _dog.Image = "sit-8";
        _ball.Z = 3;
        _ball.X = _dog.X;
        _ball.Y = _dog.Y;
    }
}