.room-settings-manager {
    padding: 1rem;
    background-color: #424242;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.room-settings-manager h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
}

.room-settings-manager h4 {
    color: #aaa;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
}

.room-settings-section {
    margin-bottom: 1rem;
}

.color-setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 5px;
}

.color-setting-row span {
    width: 40%;
}

.color-setting-row input[type="color"] {
    width: 50%;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.settings-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.visualizer-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.visualizer-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.visualizer-container > div > div {
    border: black 3px solid;
    display: flex;
    width: 100%;
    height: 20px;
}

.visualizer-container > div > div > div {
    flex-grow: 1;
}
