<button @onclick="OnClick" class="@GetCssClasses()">
    @ChildContent
</button>

@code {
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? @class { get; set; }

    private string GetCssClasses()
    {
        var classes = "pixel-button";
        if (!string.IsNullOrEmpty(@class))
        {
            classes += " " + @class;
        }
        return classes;
    }
}
