/* /Shared/Dog.razor.rz.scp.css */
.dog[b-yaftvuj0qc] {
    position: absolute;
    background-size: 100% 100%;
    width: 70px;
    height: 75px;
}

.flipped[b-yaftvuj0qc] {
    transform: scaleX(-1);
}

/*-------SIT ANIMATIONS-------*/
@keyframes sittingDownFront-b-yaftvuj0qc {
    0% {
        background: url("/images/dogs/sit/sitfront1.png") no-repeat;
        background-size: 100% 100%;
    }
    5% {
        background: url("/images/dogs/sit/sitfront2.png") no-repeat;
        background-size: 100% 100%;
    }
    10% {
        background: url("/images/dogs/sit/sitfront3.png") no-repeat;
        background-size: 100% 100%;
    }
    15% {
        background: url("/images/dogs/sit/sitfront4.png") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("/images/dogs/sit/sitfront4.png") no-repeat;
        background-size: 100% 100%;
    }
}

@keyframes sittingUpFront-b-yaftvuj0qc {
    0% {
        background: url("/images/dogs/sit/sitfront4.png") no-repeat;
        background-size: 100% 100%;
    }
    5% {
        background: url("/images/dogs/sit/sitfront3.png") no-repeat;
        background-size: 100% 100%;
    }
    10% {
        background: url("/images/dogs/sit/sitfront2.png") no-repeat;
        background-size: 100% 100%;
    }
    15% {
        background: url("/images/dogs/sit/sitfront1.png") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("/images/dogs/sit/sitfront1.png") no-repeat;
        background-size: 100% 100%;
    }
}

@keyframes sittingDownSide-b-yaftvuj0qc {
    0% {
        background: url("/images/dogs/sit/sitside1.png") no-repeat;
        background-size: 100% 100%;
    }
    5% {
        background: url("/images/dogs/sit/sitside2.png") no-repeat;
        background-size: 100% 100%;
    }
    10% {
        background: url("/images/dogs/sit/sitside3.png") no-repeat;
        background-size: 100% 100%;
    }
    15% {
        background: url("/images/dogs/sit/sitside4.png") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("/images/dogs/sit/sitside4.png") no-repeat;
        background-size: 100% 100%;
    }
}

@keyframes sittingUpSide-b-yaftvuj0qc {
    0% {
        background: url("/images/dogs/sit/sitside4.png") no-repeat;
        background-size: 100% 100%;
    }
    5% {
        background: url("/images/dogs/sit/sitside3.png") no-repeat;
        background-size: 100% 100%;
    }
    10% {
        background: url("/images/dogs/sit/sitside2.png") no-repeat;
        background-size: 100% 100%;
    }
    15% {
        background: url("/images/dogs/sit/sitside1.png") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("/images/dogs/sit/sitside1.png") no-repeat;
        background-size: 100% 100%;
    }
}

.sit-front[b-yaftvuj0qc] {
    animation: sittingDownFront-b-yaftvuj0qc 2s ease-in-out;
    background: url("/images/dogs/sit/sitfront4.png");
}

.stand-front[b-yaftvuj0qc] {
    animation: sittingUpFront-b-yaftvuj0qc 2s ease-in-out;
    background: url("/images/dogs/sit/sitfront1.png");
}

.sit-side[b-yaftvuj0qc] {
    animation: sittingDownSide-b-yaftvuj0qc 2s ease-in-out;
    background: url("/images/dogs/sit/sitside4.png");
}

.stand-side[b-yaftvuj0qc] {
    animation: sittingUpSide-b-yaftvuj0qc 2s ease-in-out;
    background: url("/images/dogs/sit/sitside1.png");
}



/*-------WALK ANIMATIONS------*/

@keyframes walkDown-b-yaftvuj0qc {
    0% {
        background: url("/images/dogs/walking/walkdown1.png") no-repeat;
        background-size: 100% 100%;
    }
    33% {
        background: url("/images/dogs/walking/walkdown2.png") no-repeat;
        background-size: 100% 100%;
    }
    66% {
        background: url("/images/dogs/walking/walkdown3.png") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("/images/dogs/walking/walkdown4.png") no-repeat;
        background-size: 100% 100%;
    }
}

@keyframes walkUp-b-yaftvuj0qc {
    0% {
        background: url("/images/dogs/walking/walkup1.png") no-repeat;
        background-size: 100% 100%;
    }
    33% {
        background: url("/images/dogs/walking/walkup2.png") no-repeat;
        background-size: 100% 100%;
    }
    66% {
        background: url("/images/dogs/walking/walkup3.png") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("/images/dogs/walking/walkup4.png") no-repeat;
        background-size: 100% 100%;
    }
}

@keyframes walkSide-b-yaftvuj0qc {
    0% {
        background: url("/images/dogs/walking/walkside1.png") no-repeat;
        background-size: 100% 100%;
    }
    33% {
        background: url("/images/dogs/walking/walkside2.png") no-repeat;
        background-size: 100% 100%;
    }
    66% {
        background: url("/images/dogs/walking/walkside3.png") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("/images/dogs/walking/walkside4.png") no-repeat;
        background-size: 100% 100%;
    }
}

.walk-down[b-yaftvuj0qc] {
    animation: walkDown-b-yaftvuj0qc 0.5s infinite;
    background: url("/images/dogs/walking/walkdown1.png");
}

.walk-up[b-yaftvuj0qc] {
    animation: walkUp-b-yaftvuj0qc 0.5s infinite;
    background: url("/images/dogs/walking/walkup1.png");
}

.walk-side[b-yaftvuj0qc] {
    animation: walkSide-b-yaftvuj0qc 0.5s infinite;
    background: url("/images/dogs/walking/walkside1.png");
}
